{# macro image_url(object, size, index) Displays the image's url index being the image number (defaults to 0)  #}
{# macro diaporama(object, size) Displays a simple ul>li markup for a diaporama from the object #}
{# macro com_link(type_id, link, text) Makes a link from the contact info based on their type_id #}

{% extends "list-base.twig" %}
{% import "macros.twig" as apidae %}

{% block scripts %}
	{{ enqueue_style('public') }}
{% endblock %}

{% set map_icon = '' %}

{% block layout %}
	{% block search_form %}[Apidae_Search]{% endblock search_form %}

	{% if numResult > 0 %}
		<div class="apidae-list">
			{{ block('pagination') }}
			{# endblock pagination #}

			{{ block('loop') }}
			{# block('marker') #}
			{# block('single') #}
			{# endblock loop #}

			{{ block('footer') }}
			{# block(''pagination'') #}
			{# endblock footer #}
		</div>
	{% else %}
		{{ block('no_result') }}
	{% endif %}
{% endblock %}

{% block single %}
	<a href="{{ link }}" class="image-container-inner">
		<div class="image-container">
			<img class="img" src="{{ apidae.image_url(o, 'medium', 0) }}">
		</div>
	</a>
	<section class="info">
		<h3 class="title">{{ o.nom.libelle }}</h3>
		<h4 class="commune">{{ o.localisation.adresse.commune.nom }}</h4>
		<p class="description">{{ o.presentation.descriptifCourt.libelle }}</p>
		<div class="link"><a href="{{ link }}">{{ __('Read more') }}</a></div>
	</section>
{% endblock %}
