{% block layout %}
	{% block searchbar %}
		<form action="{{ url }}" id="searchform" method="get">
			<div>
				{% for key, value in pageQuery %}
					<input type="hidden" name="{{ key }}" value="{{ value }}">
				{% endfor %}
				<input type="submit" value="" id="searchsubmit" class="button avia-font-entypo-fontello"><input
						type="search" name="apisearch" value="{{ searchWords }}" placeholder="Rechercher">
			</div>
		</form>
	{% endblock %}
	{% block pagination %}{{ paginate(urlScheme, totalPages, currentPage, 7, '<<', '>>') }}{% endblock %}
	{% for o in apidae %}
		{% block loop %}
			{% set detaillink = siteUrl ~ (detailScheme|replace({
				'%TYPE': o.type,
				'%OID': o.id,
				'%NOM': o.nom.libelleFr,
				'%COMMUNE': o.localisation.addresse.commune.nom}
				)|lower|slugify(false)) %}
			{% if useMaps %}
				{% block marker %}
					<script>
						if (typeof markerNodes === 'undefined')
							var markerNodes = [];
						markerNodes.push({
							'id': "{{ o.id }}",
							'name': "{{ o.nom.libelleFr }}",
							'addressLine1': "{{ o.localisation.adresse.adresse1 }}",
							'addressLine2': "{{ o.localisation.adresse.codePostal }}, {{ o.localisation.adresse.commune.nom }}",
							'lng': "{{ o.localisation.geolocalisation.geoJson.coordinates[0] }}",
							'lat': "{{ o.localisation.geolocalisation.geoJson.coordinates[1] }}",
							'link': "{{ detaillink }}"
						});
					</script>
				{% endblock %}
			{% endif %}
			<div class="apidae_cell av_one_third">
				<div class="avia-image-container av-styling-no-styling avia-align-center">
					<div class="avia-image-container-inner">
						<a href="{{ detaillink }}">
							<div class="img avia_image"
								 style="background-image: url({{ o.illustrations[0].traductionFichiers[0].urlDiaporama|replace({'http://': 'https://'}) }})"></div>

						</a>
					</div>
				</div>
				<section class="av_textblock_section">
					<div class="avia_textblock"><h3 class="title">{{ o.nom.libelleFr }}</h3>
						<h4 class="commune">{{ o.localisation.adresse.commune.nom }}</h4>
						<p class="description">{{ o.presentation.descriptifCourt.libelleFr }}</p>
						<div class="avia-button-wrap avia-button-left avia-builder-el-no-sibling"><a
									href="{{ detaillink }}"
									class="avia-button av-icon-on-hover avia-icon_select-yes-right-icon avia-color-custom avia-size-small avia-position-left"><span
										class="avia_iconbox_title">Lire la suite</span><span
										class="avia_button_icon avia_button_icon_right"
										aria-hidden="true" data-av_icon=""
										data-av_iconfont="entypo-fontello"></span></a>
						</div>
					</div>
				</section>
			</div>
		{% endblock %}
	{% endfor %}
	{% block footer %}{{ block('pagination') }}{% endblock %}
{% endblock %}