{% macro image_url(object, size, index) %}
	{% if size == 'xsmall' %}
		{{ object.illustrations[index].traductionFichiers[0].urlListe|replace({'http://': '//'}) }}
	{% elseif size == 'small' %}
		{{ object.illustrations[index].traductionFichiers[0].urlFiche|replace({'http://': '//'}) }}
	{% elseif size == 'medium' %}
		{{ object.illustrations[index].traductionFichiers[0].urlDiaporama|replace({'http://': '//'}) }}
	{% else %}
		{{ object.illustrations[index].traductionFichiers[0].url|replace({'http://': '//'}) }}
	{% endif %}
{% endmacro image_url %}

{% import _self as apidae %}

<div class="apidae-list">
	{% block layout %}

	{% block search_form %}
		{% autoescape 'html_attr' %}
		<form action="{{ url }}" class="searchform" method="get">
			<div>
				{% block query_args %}
					{% for key, value in pageQuery %}
						<input type="hidden" name="{{ key }}" value="{{ value }}">
					{% endfor %}
				{% endblock query_args %}
				{% block search_input %}
					<input type="search" name="apisearch" value="{{ searchWords }}" placeholder="{{ __('Search') }}"
						   class="searchinput"
					><input type="submit" value="{{ __('Validate') }}" class="searchsubmit button">
				{% endblock search_input %}
			</div>
		</form>
		{% endautoescape %}
	{% endblock search_form %}

		{% if numResult > 0 %}
		{% block pagination %}
			{% if totalPages > 1 %}
				{{ paginate(urlScheme, totalPages, currentPage, 7, '<<', '>>') }}
			{% endif %}
		{% endblock pagination %}
	{% block loop %}
		{% for o in searchResult %}
		{% set link = siteUrl ~ '/' ~ detailPageSlug ~ (detailScheme|replace({
			'%TYPE%': o.type,
			'%NAME%': o.nom.libelleFr,
			'%CITY%': o.localisation.adresse.commune.nom}
			)|lower|slugify(false)) ~ '/id/' ~ o.id %}
	{% block marker %}
		{% autoescape 'js' %}
		{% if useMaps %}
		<script>
			if (typeof markerNodes === 'undefined')
				var markerNodes = [];
			markerNodes.push({
				'id': "{{ o.id|e('js') }}",
				'name': "{{ o.nom.libelleFr|e('js') }}",
				'addressLine1': "{{ o.localisation.adresse.adresse1|e('js') }}",
				'addressLine2': "{{ o.localisation.adresse.codePostal|e('js') }}, {{ o.localisation.adresse.commune.nom|e('js') }}",
				'lng': "{{ o.localisation.geolocalisation.geoJson.coordinates[0]|e('js') }}",
				'lat': "{{ o.localisation.geolocalisation.geoJson.coordinates[1]|e('js') }}",
				'link': "{{ link|e('js') }}"
			});
		</script>
		{% endif %}
		{% endautoescape %}
	{% endblock marker %}
		<div class="apidae-cell">
			{% block single %}
				<div class="image-container">
					<a href="{{ link }}" class="image-container-inner">
						<img class="img" src="{{ apidae.image_url(o, 'medium', 0) }}">
					</a>
				</div>
				<section class="info">
					<h3 class="title">{{ o.nom.libelleFr }}</h3>
					<h4 class="commune">{{ o.localisation.adresse.commune.nom }}</h4>
					<p class="description">{{ o.presentation.descriptifCourt.libelleFr }}</p>
					<div class="link"><a href="{{ link }}">{{ __('Read more') }}</a></div>
				</section>
			{% endblock single %}
		</div>
		{% endfor %}
	{% endblock loop %}
		{% block footer %}
			{{ block('pagination') }}
		{% endblock footer %}
		{% else %}
	{% block no_result %}
		<h4>{{ __('No result found') }}</h4>
	{% endblock no_result %}
		{% endif %}
	{% endblock layout %}
</div>