{% macro image_url(object, size, index) %}
	{% set index = index|default(0) %}
	{% if size == 'xsmall' %}
		{{ object.illustrations[index].traductionFichiers[0].urlListe|replace({'http://': '//'})|e('html_attr') }}
	{% elseif size == 'small' %}
		{{ object.illustrations[index].traductionFichiers[0].urlFiche|replace({'http://': '//'})|e('html_attr') }}
	{% elseif size == 'medium' %}
		{{ object.illustrations[index].traductionFichiers[0].urlDiaporama|replace({'http://': '//'})|e('html_attr') }}
	{% else %}
		{{ object.illustrations[index].traductionFichiers[0].url|replace({'http://': '//'})|e('html_attr') }}
	{% endif %}
{% endmacro image_url %}

{% macro diaporama(o, size) %}
	{% import _self as apidae %}
	{% if o.illustrations|length > 1 %}
		<ul class="diaporama">
			{% for index, images in o.illustrations %}
				<li class="slide"><img src="{{ apidae.image_url(o, size, index) }}"
									   alt="{{ images.traductionFichiers[0].fileName }}"
									   width="{{ images.traductionFichiers[0].largeur }}"
									   height="{{ images.traductionFichiers[0].hauteur }}"></li>
			{% endfor %}
		</ul>
	{% else %}
		<img src="{{ apidae.image_url(o, size, 0) }}" alt="{{ images.traductionFichiers[0].fileName }}"
			 width="{{ images.traductionFichiers[0].largeur }}" height="{{ images.traductionFichiers[0].hauteur }}">
	{% endif %}
{% endmacro diaporama %}

{% macro com_link(com_id, link, text) %}
	{% set text = text|default(link) %}
	{% set corres = { 201: 'tel:', 202: 'fax:', 204: 'mailto:', 205: '', 207: ''} %}
	{% for id, prefix in corres %}
		{% if id == com_id %}
			{% if prefix is empty %}
				{% set link = '<a href="' ~ prefix ~ link|replace({' ': ''})|e('html_attr') ~ '" rel="noopener" target="_blank">' ~ text ~ '</a>' %}
			{% else %}
				{% set link = '<a href="' ~ prefix ~ link|replace({' ': ''})|e('html_attr') ~ '">' ~ text ~ '</a>' %}
			{% endif %}
		{% endif %}
	{% endfor %}
	{{ link|raw }}
{% endmacro com_link %}